// don't ask how I came upon this selector. This is what works.
.container .mid-col .mid-col-container #content article .entry-content blockquote {
  //border-bottom: 1px dotted #3d43bb;
  border-left-width: 3px;
  padding: 4px 10px;
  margin: 30px 0;
}